.forgetpasswordCard{
    width: 700px;
    height: 400px;
    padding: 20px;
   

}
.forgetpasswordCard:hover{
    width: 700px;
    height: 400px;
    padding: 20px;
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  font-style: italic;

}


.parentforgetpassword{
   margin-left: 400px;
   margin-top: 170px;
   width: '100%';
   

}
.forgetpasswordVerificationText{
   text-align: center;
   font-style: italic;
   color: gray;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}

.forgetpasswordDiv{
    margin-top: 40px;
 
 }
.forgetpasswordError{
    font-size: 18px;
    color: red;
    font-style: italic;
 
 }
 .forgetpasswordSubmitButtonDiv{
    margin-top: 30px;
    margin-left: 130px;
 
 }
 .forgetpasswordSubmitButton{
    width: 400px;
    height: 45px;
 
 }