.modal-parent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.modal-child-div{
    margin-top: 20px;
    margin-left: 50px;
}
.update-profilepic-button{
    width: 200px;
    height: 50px;
    margin-left:50px;
}
.file-div{
    margin-top: 50px;

}